<nav class="navbar navbar-expand-xl navbar-light bg-light mt-3">
	<a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Admin<b>Site</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav ml-auto">
			<a href="#" class="nav-link user-action"> Usuario </a>
			<a href="#" class="nav-item nav-link messages"><i class="fa fa-power-off"></i> Logout</a></a>
		</div>
	</div>
</nav>